section.content-especes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
.espece {
    text-align: center;
    box-shadow: 0 0 5px 0px #000;
    margin: 0 20px;
    border-radius: 20px;
}
img.logo-espece {
    width: 50%;
}
.bloc-terran {
    background-image: url(/assets/img/fond-terran.jpg);
    background-size: cover;
}
.bloc-zerg {
    background-image: url(/assets/img/fond-zerg.jpg);
    background-size: cover;
}