header {
    background-image: url('/assets/img/background-header.jpg');
    background-size: cover;
    background-position-x: 6px;
    text-align: center;
}
.logo-starcraft {
    width: 40%;
}
nav.liens {
    background-color: #90DAF6;
    padding: 10px 10px;
}
.lien a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
}
.liens ol {
    list-style-type: none;
    padding-left: 0;
}

.lien {
    display: inline-block;
}

.lien a::after {
    display: inline-block;
    color: #000;
    content: '>';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}
section.container {
    font-family: sans-serif;
}
footer {
    background-image: url(/assets/img/background-header.jpg);
    background-size: cover;
    background-position: bottom;
    text-align: center;
}
.liens ol li:last-child a:after {
    content: '';
}