.content-espece {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.characters {
    margin: 30px 30px;
    text-decoration: none;
}

.espece {
    background-color: #90daf6;
    border-radius: 10px;
}

.nom-espece {
    padding: 10px 0;
    text-align: center;
}

.nom-espece h2 {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
}

.gif-espece {border-top-left-radius: 10px;border-top-right-radius: 10px;}