.content-espece {
    width: 80%;
    margin: 50px auto;
}
.premiere-presentation img {
    width: 10%;
    border-radius: 110px;
}
.présentation {
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
img.picture-espece.picture-terran {
    width: 25%;
    border-radius: 100%;
}
.bloc-presentation {margin-left: 20px;}
.bloc-souspresentation {
    display: flex;
    flex-wrap: wrap;
}
.abilite, .abilite-upgrade {
    width: 45%;
    align-items: center;
    margin: 30px 50px 30px 0;
}
.bloc-presentation-abilite, .bloc-presentation-abilite-upgrade {
    display: flex;
    align-items: center;
}
.presentation-abilite, .presentation-abilite-upgrade {
    margin-left: 10px;
}
.bloc-competences {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}
.competence {
    width: 30%;
    margin: 10px 0;
    display: flex;
    justify-content: space-around;
}
.competence h3 {
    width: 165px;
    font-weight: bold;
}
.competence p {
    width: 170px;
}
.bloc-abilites h2, .bloc-upgrade h2 {
    text-align: center;
    background-image: url(/assets/img/fond-etoiles.jpg);
    color: #fff;
    border-radius: 5px;
    padding: 10px 0;
    background-position: right;
}
.bloc-abilites {
    margin: 20px 0;
}
.list-abilities, .list-abilities-upgrade {
    margin: 20px 0 0px 0;
}
.list-abilities li, .list-abilities-upgrade li {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.list-abilities p, .list-abilities-upgrade p {
    margin-left: 10px;
}
.presentation-abilite p, .presentation-abilite-upgrade p {
    padding-top: 5px;
}
.icon-espece {
    width: 10%;
}
h2.nom-personnage {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
}
.bloc-nom-personnage{
    display: flex;
    align-items: center;
}
.bloc-nom-personnage img {
    width: 6%;
    margin-right: 9px;
}