<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf8" />
        {#<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">#}
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Staatliches" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/assets/css/reset.css" />
        <link rel="stylesheet" type="text/css" href="/assets/css/base.css" />
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            <img class="logo-starcraft" src="/assets/img/logo-header.png" alt="starcraft" />
        </header>
        <nav class="liens">
            <ol>
                <li class="lien"><a href="/">Accueil</a></li>
                {% block lien %}{% endblock %}
            </ol>
        </nav>
        {% block contenu %}{% endblock %}
        <footer>
            <img class="logo-starcraft" src="/assets/img/logo-header.png" alt="starcraft" />
        </footer>
    </body>
    {% block javascipt %}
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    {% endblock %}
</html>