{% extends 'base_template.twig' %}

{% block title %}{% if race == "terran" %}Terrans{% elseif race == "zerg" %}Zergs{% endif %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/assets/css/especes.css" />
{% endblock %}

{% block lien %}{% if race == "terran" %}<li class="lien"><a href="/espece/terran">Terrans</a></li>{% elseif race == "zerg" %}<li class="lien"><a href="/espece/zerg">Zergs</a></li>{% endif %}{% endblock %}

{% block contenu %}
    <section class="content-espece">
    {% if race == "terran" %}
        {% for item in terrans %}
            <a class="characters characters-terran" href="/espece/{{ race }}/{{ item.slug }}">
                <section class="espece bloc-terran">
                    <img class="gif-espece gif-terran" src="{{ item.avatar }}" alt="{{ item.slug }}" />
                    <div class="nom-espece nom-terran">
                        <h2>{{ item.name }}</h2>
                    </div>
                </section>
            </a>
        {% endfor %}
    {% elseif race == "zerg" %}
        {% for item in zergs %}
            <a class="characters characters-zerg" href="/espece/{{ race }}/{{ item.slug }}">
                <section class="espece bloc-zerg">
                    <img class="gif-espece gif-zerg" src="{{ item.avatar }}" alt="{{ item.slug }}" />
                    <div class="nom-espece nom-zerg">
                        <h2>{{ item.name }}</h2>
                    </div>
                </section>
            </a>
        {% endfor %}
    {% endif %}
    </section>
{% endblock %}