{% extends 'base_template.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/assets/css/accueil.css" />
{% endblock %}

{% block lien %}{% endblock %}

{% block contenu %}
    <section class="content-especes">
        <a href="/espece/terran">
            <div class="espece bloc-terran">
                <img class="logo-espece logo-terran" src="/assets/img/terran.png" alt="starcraft" />
            </div>
        </a>
        <a href="/espece/zerg">
            <div class="espece bloc-zerg">
                <img class="logo-espece logo-zerg" src="/assets/img/zerg.png" alt="starcraft" />
            </div>
        </a>
    </section>
{% endblock %}