{% extends 'base_template.twig' %}

{% block title %}{% if race == "terran" %}{{ personnages_terran.name }}{% elseif race == "zerg" %}{{ personnages_zerg.name }}{% endif %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/assets/css/unit.css" />
{% endblock %}

{% block lien %}
    {% if race == "terran" %}<li class="lien"><a href="/espece/terran">Terrans</a></li>{% elseif race == "zerg" %}<li class="lien"><a href="/espece/zerg">Zergs</a></li>{% endif %}
    {% if race == "terran" %}<li class="lien"><a href="/espece/{{ race }}/{{ personnages_terran.slug }}">{{ personnages_terran.name }}</a></li>{% elseif race == "zerg" %}<li class="lien"><a href="/espece/{{ race }}/{{ personnages_zerg.slug }}">{{ personnages_zerg.name }}</a></li>{% endif %}
{% endblock %}

{% block contenu %}
    <section class="content-espece {{ race }}">
        {% if race == "terran" %}
            <section class="présentation">
                <img class="avatar-espece avatar-terran" src="{{ personnages_terran.avatar }}" alt="{{ personnages_terran.slug }}" />
                <div class="bloc-presentation">
                    <div class="bloc-nom-personnage">
                        <img src="{{ personnages_terran.picture }}" alt="{{ personnages_terran.slug }}"/>
                        <h2 class="nom-personnage">{{ personnages_terran.name }}</h2>
                    </div>
                    <div class="bloc-competences">
                        <div class="competence">
                            <h3>Armor</h3>
                            <p>{{ personnages_terran.armor }}</p>
                        </div>
                        <div class="competence">
                            <h3>Build Time</h3>
                            <p>{{ personnages_terran.build_time }}</p>
                        </div>
                        <div class="competence">
                            <h3>Damage</h3>
                            <p>{{ personnages_terran.damage }}</p>
                        </div>
                        <div class="competence">
                            <h3>Hit Points</h3>
                            <p>{{ personnages_terran.hitpoints }}</p>
                        </div>
                        <div class="competence">
                            <h3>Hot Key</h3>
                            <p>{{ personnages_terran.hotkey }}</p>
                        </div>
                        <div class="competence">
                            <h3>Max Energy</h3>
                            <p>{{ personnages_terran.max_energy }}</p>
                        </div>
                        <div class="competence">
                            <h3>Minerals</h3>
                            <p>{{ personnages_terran.minerals }}</p>
                        </div>
                        <div class="competence">
                            <h3>Range</h3>
                            <p>{{ personnages_terran.range }}</p>
                        </div>
                        <div class="competence">
                            <h3>Sight</h3>
                            <p>{{ personnages_terran.sight }}</p>
                        </div>
                        <div class="competence">
                            <h3>Speed</h3>
                            <p>{{ personnages_terran.speed }}</p>
                        </div>
                        <div class="competence">
                            <h3>Starting Energy</h3>
                            <p>{{ personnages_terran.starting_energy }}</p>
                        </div>
                        <div class="competence">
                            <h3>Supply</h3>
                            <p>{{ personnages_terran.supply }}</p>
                        </div>
                        <div class="competence">
                            <h3>Type</h3>
                            <p>{{ personnages_terran.type }}</p>
                        </div>
                        <div class="competence">
                            <h3>Vespene Gas</h3>
                            <p>{{ personnages_terran.vespene_gas }}</p>
                        </div>
                    </div>
                </div>
            </section>
            {% if personnages_terran.abilities %}
            <section class="bloc-abilites">
                <h2>Abilities</h2>
                <div class="bloc-souspresentation">
                    {% for ability in personnages_terran.abilities %}
                    <div class="abilite">
                        <div class="bloc-presentation-abilite">
                            <img class="icon-espece icon-terran-ab" src="{{ ability.icon }}" alt="{{ ability.slug }}" />
                            <div class="presentation-abilite">
                                <h3>{{ ability.name }}</h3>
                                <p>{{ ability.description|markdown|raw }}</p>
                            </div>
                        </div>
                        {% if ability.cost and ability.cost and ability.cost %}
                            <dl>
                                <dt>Cost</dt>
                                <dd>{% if ability.cost %}{{ ability.cost }}{% else %}0{% endif %}</dd>
                                <dt>Cost Type</dt>
                                <dd>{% if ability.cost_type %}{{ ability.cost_type }}{% else %}0{% endif %}</dd>
                                <dt>Duration</dt>
                                <dd>{% if ability.duration %}{{ ability.duration }}{% else %}0{% endif %}</dd>
                            </dl>
                        {% else %}
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </section>
            {% else %}

            {% endif %}
            {% if personnages_terran.upgrades %}
            <section class="bloc-upgrade">
                <h2>Upgrades</h2>
                <div class="bloc-souspresentation">
                    {% for upgrade in personnages_terran.upgrades %}
                    <div class="abilite-upgrade">
                        <div class="bloc-presentation-abilite-upgrade">
                            <img class="icon-espece icon-terran-ab" src="{{ upgrade.icon }}" alt="{{ upgrade.slug }}" />
                            <div class="presentation-abilite-upgrade">
                                <h3>{{ upgrade.name }}</h3>
                                <p>{{ upgrade.description|markdown|raw }}</p>
                            </div>
                        </div>
                        {% if upgrade.build_time and upgrade.minerals  and upgrade.vespene_gas  %}
                            <dl>
                                <dt>Build Time</dt>
                                <dd>{% if upgrade.build_time %}{{ upgrade.build_time }}{% else %}0{% endif %}</dd>
                                <dt>Minerals</dt>
                                <dd>{% if upgrade.minerals %}{{ upgrade.minerals }}{% else %}0{% endif %}</dd>
                                <dt>Vespene Gas</dt>
                                <dd>{% if upgrade.vespene_gas %}{{ upgrade.vespene_gas }}{% else %}0{% endif %}</dd>
                            </dl>
                        {% else %}
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </section>
            {% else %}
            {% endif %}
        {% elseif race == "zerg" %}
            <section class="présentation">
                <img class="avatar-espece avatar-zerg" src="{{ personnages_zerg.avatar }}" alt="{{ personnages_zerg.slug }}" />
                <div class="bloc-presentation">
                    <h2 class="nom-personnage">{{ personnages_zerg.name }}</h2>
                    <div class="bloc-competences">
                        <div class="competence">
                            <h3>Armor</h3>
                            <p>{{ personnages_zerg.armor }}</p>
                        </div>
                        <div class="competence">
                            <h3>Build Time</h3>
                            <p>{{ personnages_zerg.build_time }}</p>
                        </div>
                        <div class="competence">
                            <h3>Damage</h3>
                            <p>{{ personnages_zerg.damage }}</p>
                        </div>
                        <div class="competence">
                            <h3>Hit Points</h3>
                            <p>{{ personnages_zerg.hitpoints }}</p>
                        </div>
                        <div class="competence">
                            <h3>Hot Key</h3>
                            <p>{{ personnages_zerg.hotkey }}</p>
                        </div>
                        <div class="competence">
                            <h3>Max Energy</h3>
                            <p>{{ personnages_zerg.max_energy }}</p>
                        </div>
                        <div class="competence">
                            <h3>Minerals</h3>
                            <p>{{ personnages_zerg.minerals }}</p>
                        </div>
                        <div class="competence">
                            <h3>Range</h3>
                            <p>{{ personnages_zerg.range }}</p>
                        </div>
                        <div class="competence">
                            <h3>Sight</h3>
                            <p>{{ personnages_zerg.sight }}</p>
                        </div>
                        <div class="competence">
                            <h3>Speed</h3>
                            <p>{{ personnages_zerg.speed }}</p>
                        </div>
                        <div class="competence">
                            <h3>Starting Energy</h3>
                            <p>{{ personnages_zerg.starting_energy }}</p>
                        </div>
                        <div class="competence">
                            <h3>Supply</h3>
                            <p>{{ personnages_zerg.supply }}</p>
                        </div>
                        <div class="competence">
                            <h3>Type</h3>
                            <p>{{ personnages_zerg.type }}</p>
                        </div>
                        <div class="competence">
                            <h3>Vespene Gas</h3>
                            <p>{{ personnages_zerg.vespene_gas }}</p>
                        </div>
                    </div>
                </div>
            </section>
            {% if personnages_zerg.abilities %}
                <section class="bloc-abilites">
                    <h2>Abilities</h2>
                    <div class="bloc-souspresentation">
                        {% for ability in personnages_zerg.abilities %}
                        <div class="abilite">
                            <div class="bloc-presentation-abilite">
                                <img class="icon-espece icon-zerg-ab" src="{{ ability.icon }}" alt="{{ ability.slug }}" />
                                <div class="presentation-abilite">
                                    <h3>{{ ability.name }}</h3>
                                    <p>{{ ability.description|markdown|raw }}</p>
                                </div>
                            </div>
                            {% if ability.cost and ability.cost and ability.cost %}
                                <dl>
                                    <dt>Cost</dt>
                                    <dd>{% if ability.cost %}{{ ability.cost }}{% else %}0{% endif %}</dd>
                                    <dt>Cost Type</dt>
                                    <dd>{% if ability.cost_type %}{{ ability.cost_type }}{% else %}0{% endif %}</dd>
                                    <dt>Duration</dt>
                                    <dd>{% if ability.duration %}{{ ability.duration }}{% else %}0{% endif %}</dd>
                                </dl>
                            {% else %}
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </section>
            {% else %}
            {% endif %}
            {% if personnages_zerg.upgrades %}
                <section class="bloc-upgrade">
                    <h2>Upgrades</h2>
                    <div class="bloc-souspresentation">
                        {% for upgrade in personnages_zerg.upgrades %}
                        <div class="abilite-upgrade">
                            <div class="bloc-presentation-abilite-upgrade">
                                <img class="icon-espece icon-zerg-ab" src="{{ upgrade.icon }}" alt="{{ upgrade.slug }}" />
                                <div class="presentation-abilite-upgrade">
                                    <h3>{{ upgrade.name }}</h3>
                                    <p>{{ upgrade.description|markdown|raw }}</p>
                                </div>
                            </div>
                            {% if upgrade.build_time and upgrade.minerals  and upgrade.vespene_gas  %}
                                <dl>
                                    <dt>Build Time</dt>
                                    <dd>{% if upgrade.build_time %}{{ upgrade.build_time }}{% else %}0{% endif %}</dd>
                                    <dt>Minerals</dt>
                                    <dd>{% if upgrade.minerals %}{{ upgrade.minerals }}{% else %}0{% endif %}</dd>
                                    <dt>Vespene Gas</dt>
                                    <dd>{% if upgrade.vespene_gas %}{{ upgrade.vespene_gas }}{% else %}0{% endif %}</dd>
                                </dl>
                            {% else %}
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </section>
            {% else %}
            {% endif %}
        {% endif %}
    </section>
{% endblock %}